section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .outer {
    background-size: cover;
    background-position: center;
    filter: grayscale(50%);
    padding: 90px 0 0 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .inner {
    width: 100%;
    max-width: 770px;
  }
  
  .inner p {
    display: inline;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    color: #565656;
    font-size: 48px;
    text-shadow: 0 0 0 #aeadad;
  }
  
  .jobprot {
      font-size: 50px;
      font-weight: bold; 
    }
  
  .text-container {
    position: relative;
    overflow: hidden;
    display: block;
  }
  
  .highlighted-text:before {
    content: attr(data-text);
    display: inline-block;
    opacity: 0.8;
  }
  
  .highlighted-text {
    color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 0;
    transition: clip-path 0.1s ease;
  }
  
  .highlighted-jobprot {
      font-size: 50px;
      font-weight: bold;
    }
  